<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Vehicle | SPSVO</title>
    <div th:insert="~{/fragments/head}"></div>
</head>
<body>
<div th:replace="~{fragments/navigationBar}"></div>
<div class="row"></div>
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8" style="text-align: center;">
            <h1>Vehicle info</h1>
            <div class="row">
                <div th:replace="~{fragments/vehicleForm}"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>